---
images:
  -
    name: buttons.png
    width: 450
  -
    name: buttons.svg
    width: 470
  -
    name: buttons-measure.svg
    width: 250
extends: https://material.google.com/components/buttons.html
---
<p>The Instabridge buttons looks and behaves just like Material Design default buttons except for the corner radius and the left and right padding. The radius is set so the left and right sides of the button are rounded completely and the left and right padding is 50% wider than default Material Designs version.</p>
<p>Note that buttons are either flatt (no shadow or background color) or raised (2dp distance from object under).</p>
